#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 750px;
}
.title {
    font-size: 3rem;
    text-align: center;
}
.landingPageImg {
    width: 600px;
    margin-top: 30px;
}
.buttons {
    display: flex;
    width: 250px;
    justify-content: space-between;
}