#navbar {
    display: flex;
    align-items: center;
    width: 1280px;
    height: 60px;
    justify-content: space-between;
    margin-top: 20px;
}
.navLink {
    display: flex;
    width: 400px;
    justify-content: space-around;
    list-style: none;
}

.loginSection {
    width: 200px;
    display: flex;
    justify-content: space-around;
}
.logo {
    margin-left: 10px;
    cursor: pointer;
}